//importeren van variabelen:
@import 'vars';

//Mixins importeren
@import 'mixins';

//reset de stylen
@import 'reset';

//header importeren
@import 'header';

@import 'fonts';

body{
  font-family: Quicksand_regular, sans-serif;
}



.imageblock{
  display: grid;
  padding: 0;
  @include grid-t-c(1fr 1fr);
  background-image: url('../content/slide-iddink1.jpg');
  background-position: center center;
  height: 50vh;
  color: #fff;
}

.textEnButton{
	padding: 5em 2em 5em 2em;
	text-align: center;
  p{
    font-size: 18px;
  }
}

.hersenen{
  padding: 8em 0em 0em 10em;
}

.uitleg{
	height: 45vh;
	padding: 0em 5em 0em 5em;
  text-align: center;
  h2{
    font-family: Quicksand_bold;
	  color: $hoofdkleur;
    padding: 1em 0em 1em 0em;
  }
  p{
    padding: 0 2em 0 2em;
  }
}

.button-reference{
  padding-top: 2em;
  display: inline-block;
}

.ipad{
position: absolute;
left: calc(59vw);
}

#explore{
  padding-top: 2.5em;
}

#readmore{
  padding: 8em 0 0 10em;
}

.button-complete{
  padding-top: 1em;
}

.button-text{
  font-family: Quicksand_bold;
	text-align: center;
	padding: 13px 20px;
	background-color: $hoofdkleur;
	text-align: right;
  border-radius: 6px;
  border: 1px solid #fff;
  color: #fff;
}

.blog{
	display: grid;
	@include grid-t-c(1fr 1fr 1fr 1fr);
	height: 50vh;
	padding: 0 5em 2em 5em;
}

.post{
  h4, p{
    width: 250px;
  }
  h4, .lees-meer{
    color: $hoofdkleur;
  }
  h4{
    font-family: Quicksand_bold;
  }
  .lees-meer{
    font-family: Quicksand_medium;
  }
}


.winactie{
	background: #85BADF;
	display: grid;
	@include grid-t-c(1fr 1fr);
	padding: 1em 5em 1em 5em;
}

.ipad-win{
  position: absolute;
  left: calc(33vw + 30px);
}

.actieTekstEnKnop{
  color: #fff;
  padding: 1em 1em 2em 0;
  h2{
    font-family: Quicksand_bold;
  }
}

.contact{
  height: 25vh;
  padding: 1em 5em 1em 5em;
  text-align: center;
  h2{
	   color: $hoofdkleur;
     font-family: Quicksand_bold;
  }
  p{
    font-size: 18px;
    padding: 0 2em 0 2em;
  }
}

.contact h2, .contact p, .uitleg h2, .uitleg p{
	text-align: center;
}

.mobile{
  position: absolute;
  left: calc(80vw + 30px);
}

footer{
	background: $hoofdkleur;
	display: grid;
	@include grid-t-c(1fr 1fr);
	height: 20vh;
	padding: 1em 5em 0 5em;
  color: #fff;
}

.menubalk{
	display: grid;
	@include grid-t-c(1fr 1fr 1fr 1fr 1fr 1fr);
  text-align: right;
}

#copyright{
  text-align: right;
}

nav{
  background-color: $hoofdkleur;
  ul{
    list-style-type: none;
  }
  a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: $padding/2 $padding;
    &:hover{
      background-color: $hoofdkleur;
    }
  }
}

aside {
  background-color: $hoofdkleur;
}

footer{
  background: $hoofdkleur;
  font-family: Quicksand_medium;
}
